In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#lecture des fichiers csv
train = pd.read_csv("fairface_label_train.csv")
val = pd.read_csv("fairface_label_val.csv")

In [3]:
train.head()

          file    age  gender        race  service_test
0  train/1.jpg  50-59    Male  East Asian          True
1  train/2.jpg  30-39  Female      Indian         False
2  train/3.jpg    3-9  Female       Black         False
3  train/4.jpg  20-29  Female      Indian          True
4  train/5.jpg  20-29  Female      Indian          True

In [4]:
#extraction de la colonne contenant les âges
train_age = train['age']
val_age = val['age']

dic_ages = ['0-2','3-9','10-19','20-29','30-39','40-49','50-59','60-69','more than 70']
print("dictionnaire d'ages:\n",dic_ages,type(dic_ages))

#conversion de train_age et val_age en tableau
train_age = list(train_age)
val_age = list(val_age)
print("10 premieres tranches d'age de train:",train_age[0:10])
print("10 premieres tranches d'age de val:",val_age[0:10])

def age_to_label(dic,list_age) : 
    #dic : dictionnaire de tranche d'age ocurrence unique
    #list_age : tableau qui contient une liste de tranche d'age
    #return : un tableau d'int qui contient l'indice de l'élement i de list_age dans dic.
    label = []
    for ages in list_age :
        index = dic.index(ages,0,len(dic))
        label.append(index)
    return label

ytrain = age_to_label(dic_ages,train_age)
yval = age_to_label(dic_ages,val_age)
print("10 premiers label d'age de train:",ytrain[0:10])
print("10 premiers label d'age de val:",yval[0:10])

dictionnaire d'ages:
 ['0-2', '3-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', 'more than 70'] <class 'list'>
10 premieres tranches d'age de train: ['50-59', '30-39', '3-9', '20-29', '20-29', '20-29', '40-49', '30-39', '10-19', '30-39']
10 premieres tranches d'age de val: ['3-9', '50-59', '30-39', '20-29', '20-29', '30-39', '20-29', '3-9', '20-29', '3-9']
10 premiers label d'age de train: [6, 4, 1, 3, 3, 3, 5, 4, 2, 4]
10 premiers label d'age de val: [1, 6, 4, 3, 3, 4, 3, 1, 3, 1]

In [5]:
#extraction de la colonne contenant le chemin des images
train_files = train['file']
val_files = val['file']

train_files_025= []
for i in range(len(train_files)):
    train_files_025.append("padding_025/"+train_files[i])

In [6]:
#nombre d'images que l'on souhaite extraire de train.
nb_images = 20000
ytrain_rand = []
xtrain_rand = []

for i in range(nb_images) : 
    #indice aléatoire
    index = np.random.randint(low = 0,high = len(train_files_025),dtype = 'int') 
    
    #lecture de l'image a cet indice, on l'ajoute dans notre base
    file025 = train_files_025[index]
    img025 = plt.imread(file025)
    xtrain_rand.append(img025)
    ytrain_rand.append(ytrain[index])
    
    #supprime pour pas avoir la même
    del train_files_025[index]
    del ytrain[index]

    
ytrain_rand = np.array(ytrain_rand)
xtrain_rand = np.array(xtrain_rand)
print(ytrain_rand.shape)
print(xtrain_rand.shape)

(20000,)
(20000, 224, 224, 3)

In [7]:
np.savez('data_rand20k.npz', xtrain=xtrain_rand, ytrain=ytrain_rand, dic = dic_ages)
## pour load les données tapez : 
# data = np.load("data_rand20k.npz")
# ytrain = data['ytrain']
# xtrain = data['xtrain']
# dic = data['dic']